/*
Import Font from Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #f1c40f !important;
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

/* #MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
} */